 <!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
        <meta charset="utf-8">
        </head>
        <body>
            <!-- Header -->
            <a href="/"> Home </a>
            <a href="/tasks"> Tasks </a>
    
            <ul>
                <li>Identifier : {{task.id}}</li>
                <li>Text : {{task.text}}</li>
            </ul>
    
            <!-- Footer -->
            <p>Chelas 2021</p>
        </body>
</html>