<form action = "/login" method="post">
      <label for="textUsername">Text:</label>
      <input type="text" id="textUsername" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <input type="submit" value = "Login">
</form>